HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/


# Secrets / clés API
.env
application-local.properties
application-secret.properties